{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="text-center">
    <h1>{{ user.username }}'s Club of Fames</h1>
    <a href="{% url 'create_club' %}" class="btn btn-primary">Create New Club of Fame</a>
  </div>

    {% for club in clubs %}

<h2><a href="{% url 'detail_club' club.id %}">{{ club.title }}</a></h2>
<a href="{% url 'delete_club' club.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_club' club.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'add_video' club.id %}" class="btn btn-primary">Add Video</a>

    <div class="row">
      {% for video in club.video_set.all %}
      <div class="col-md-4 mt-3">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <p class="card-text">{{ video.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>


    {% endfor %}

</div>
{% endblock %}
